faiss-cpu>=1.12.0
langchain>=1.0.5
langchain-classic>=1.0.0
langchain-community>=0.4.1
langchain-core>=1.0.4
langchain-openai>=1.0.2
langchain-huggingface>=1.0.1
langchain-cohere>=0.5.0
langchain-text-splitters>=1.0.0
langgraph>=1.0.3
langgraph-checkpoint>=3.0.1
langgraph-prebuilt>=1.0.4
langgraph-sdk>=0.2.9
langsmith>=0.4.42
pydantic>=2.12.4
tiktoken>=0.12.0
duckduckgo-search>=8.1.1
ddgs>=9.9.1
wikipedia>=1.4.0
youtube-search>=2.1.2
transformers>=4.57.1
bs4>=0.0.2